.promo {
	height: 100%;
	background: url('../img/banner.png') center/cover no-repeat;
	background-color: hsl(348.68deg 100% 44.71%);
}

.mobile-bg {
	display: none;
}

@media (max-width: 767px) {
	.mobile-bg {
		display: block;
		max-width: 100%;

	}

	.promo {
		background: #e4002b;
	}

	.promo__container {
		height: 100%;
	}


}


.promo__container {
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: end;
}

@media (max-width: 767px) {
	.mobile-bg {
		display: block;
		max-width: 100%;
		/* filter: grayscale(30%); */

	}

	.promo {
		background: hsl(348.68deg 100% 44.71%);
	}

	.promo__container {
		height: 100%;
	}


}

.promo__content {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

@media (max-width: 767px) {
	.promo__content {
		gap: 3rem;
	}
}


.promo__title {
	font-weight: 600;
	font-size: 3.8rem;
	color: #fff;
}

@media (max-width: 767px) {
	.promo__title {
		font-size: 2.6rem;
	}
}


.promo__description {
	font-size: 1.7rem;
	color: #fff;
	font-weight: 600;
	line-height: 3rem;
}

@media (max-width: 767px) {
	.promo__description {
		font-size: 1.6rem;
		line-height: 2.2=5rem;
	}
}


.promo__button-cnt {
	display: flex;
	gap: 2rem;
}

.promo__btn {
	display: flex;
	align-items: center;
	gap: 1rem;
	border: none;
	border-radius: 1rem;
	transition: all .3s;
}


.promo__btn:hover {
	transform: scale(.95);
}